---
import FeaturesRow from "../components/FeaturesRow.astro";
import GalleryPreview from "../components/GalleryPreview.astro";
import Hero from "../components/Hero.astro";
import ServicesGrid from "../components/ServicesGrid.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Gravaris - Roboty Ziemne, Wykopy Stawów">
  <main>
    <Hero />
    <ServicesGrid />
    <FeaturesRow />
    <GalleryPreview />
  </main>
</Layout>
